### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/src/lesson25/lessoncode/
/src/lesson26/lessoncode/
/src/lesson23/AlphabetDemo.java
/src/lesson27/libraryVar1/
/src/lesson27/libraryVar2/
/src/lesson27/myLibrary/
/src/lesson28/shoppinglist/
/src/lesson28/RequestResponse.jpg
/src/lesson28/TaskDescription.txt
/src/lesson31/lessoncode/
/src/lesson31/plan.md
/src/lesson13/lessonCode/
